footer
    img.logo(src='/images/big_logo.png' alt="logo")
    ul
        li
            a.index(href='/') Главная
        li
            a.services(href='/services') Услуги по консалтингу
        li
            a.certificate(href='/certificate') Сертификат
        li
            a.history(href='/history') История ХАССП



    span.copyright Designed by Bureau
