header
    .logo
        img(src="/images/header_logo.png")
    .header-info
        //p
        //    span Консалтинг бюро Анна Шегай <sup>TM</sup> Москва
        //    span(style="float: right")
        //        a(href="tel:+7 916 589 3544") +7 916 589 3544
        //p
        //    span Работаем по России
        //    span(style="float: right")
        //        a(href="mailto:trts021@gmail.com") trts021@gmail.com
        p Консалтинг бюро Анна Шегай <sup>TM</sup> Москва
        p Работаем по России
        p
            a(href="tel:+7 916 589 3544") +7 916 589 3544
        p
            a(href="mailto:trts021@gmail.com") trts021@gmail.com

    nav
        a.index(href='/') Главная
        a.services(href='/services') Услуги по консалтингу
        a.certificate(href='/certificate') Сертификат
        a.history(href='/history') История ХАССП
