header
    .logo
        img(src="/images/header_logo.png")
    nav
        a.index(href='/') Главная
        a.services(href='/services') Услуги по консалтингу
        a.certificate(href='/certificate') Сертификат
        a.history(href='/history') История ХАССП