extends layout
block css
  link(rel='stylesheet', href='/stylesheets/history.css')
block content
  .wrap
    .header-wrap
      .header
        include elements/header
        .info
          h1 ИСТОРИЯ СИСТЕМЫ ХАССП
      .big-logo
        div.info
          p Консалтинг бюро
          p
            span Анна Шегай
            sup TM
            span &nbspМосква
          p Работаем по России
          a(href="tel:+7 916 589 3544") +7 916 589 3544
          a(href="mailto:trts021@gmail.com") trts021@gmail.com
        img(src="/images/big_logo.png")
    .content
      .col-8.flex-f-s
        .item
          p В 1920-х гг. впервые появились единые стандарты на оборудование для молочной промышленности «Стандарты -3А» (это система ХАССП). С 1944 г. к «Программе -3А» подключились поставщики и производители оборудования всех национальных ассоциаций производителей молочных продуктов США, Органы исполнительной власти США.
          br
          p В конце 1950-х гг. NASA настаивала, чтобы гарантии безопасности были включены на стадии проектирования для космических полетов. И для реализации проекта под нужды NASA с начала 1960-х по 1969 гг. компания Pillsbury трудилась над разработкой новых видов продуктов для космических полетов.
          br
          p В начале 1970-х гг. компания Pillsbury предоставила технологию разработки и внедрения системы ХАССП для использования на различных коммерческих предприятиях пищевой промышленности.
          br
          p В России и странах Таможенного Союза система ХАССП стала обязательна с 2011 года, со вступлением в силу ТР ТС 021 «О безопасности пищевой продукции», но производителям был дан переходный период до 15 февраля 2015 года.
        img(src="/images/badges.png" style="margin: 10px 0 0")
      .col-4
        .item.italic
          h2 Кому нужен ХАССП
          br
          p Агропромышленные предприятия (выращивание)
          p Убойные пункты
          p Производители (переработчики) пищевой продукции
          p Производители напитков
          p Производители кормов
          p Предприятия общественного питания
          p Складские комплексы, хладокомбинаты
          p Торговые сети, имеющие цеха по переработке
        img(src="/images/humans_l.png" style="margin: 10px 0 0")
    include elements/footer
