extends layout

block content
  .wrap
    .header-wrap
      .header
        include elements/header
        .info
      .big-logo
        div.info
          p Консалтинг бюро
          p
            span Анна Шегай
            sup TM
            span &nbspМосква
          p Работаем по России
          a(href="tel:+7 916 589 3544") +7 916 589 3544
          a(href="mailto:trts021@gmail.com") trts021@gmail.com
        img(src="/images/big_logo.png")
    .content
      .row
        .col-6
          .item
            p Консалтинг бюро Анна Шегай™ оказывает полный цикл услуг по подготовке
              |пищевых предприятий к требованиям систем менеджмента безопасности
              |пищевой продукции (СМБПП): ХАССП (HACCP), ISO 22000 по ГОСТам
              |и авторским методикам оценки риска и разработки системы прослеживаемости
              |под Ваше предприятие.
            br
            p Анна Шегай – к.т.н., разработчик с 12 летним опытом работы в сфере
              |консалтинга и сертификации СМБПП. В бюро работает группа компетентных
              |специалистов по консалтингу и внешним аудитам пищевых предприятий
              |с профильным образованием и опытом работы.
            br
            p Наша миссия – давать потребителю самое лучшее!
              |  Собственно, это не только миссия, но и принцип каждого сотрудника
              | к каждому потребителю и партнеру!
              | Мы не усложняем жизнь вашего предприятия, мы лишь предлагаем путь
              | к улучшению вашей работы, что может сделать ваше производство способным
              | продвигать инновации и повысить производительность.
        .col-3
          .item
            h3 Юридическая справка
            br
            p
              i «ХАССП обязателен по Законодательству РФ и всех стран-участни-ков
                | Таможенного Союза».В соответствии с ТР ТС 021/2011 «О безопасности пищевой продукции»,
                | утвержденного Решением Комиссии Таможенного союза от 9 декабря 2011г. № 880 при осуществлении процессов
                | производства пищевой продукции производителю необходимо разработать, внедрять и поддерживать процедуры
                | основанные на принципах ХАССП(гл.3, ст.10, п.2).
      .row
        .col-3
          .item
            h3 ХАССП или ИСО 22000?
            br
            p ХАССП – это система управления качеством и безопасностью пищевых продуктов (ГОСТ Р 51705.1-2001) требуется по Законодательству РФ и Таможенного Союза.
            br
            p ИСО 22000- это система менеджмента безопасности пищевой продукции требуется при экспорте в страны ЕС, США, Новой Зеландии, Канады, Японии и др., а также при работе с международными торговыми сетями.
        .col-3
          img
        .col-3
          .item
            h3 Штрафные санкции
            p.
              За несоблюдение производителем
                        пищeвой продукции требований
                  TP TC 021/2011 установлена
                административная ответствен-
                ность в соответствии с ч. 1-3 ста-
                тьи 14.43 Кодекса об администра-
                тивных правонарушениях (КоАП) РФ
                – наложение штрафа до 1 000 000 б
                с конфискацией предметов админи-
                стративного правонарушения,
                с возможным приостановлением
                деятельности предприятия,
                изъятия готовой продукции.
    include elements/footer





