extends layout
block css
  link(rel='stylesheet', href='/stylesheets/services.css')
block content
  .wrap
    .header-wrap
      .header
        include elements/header
        .info
          h1 УСЛУГИ ПО КОНСАЛТИНГУ
          h3 Мы осуществляем полный цикл услуг по консалтингу систем ХАССП и ИСО 22000 для пищевых предприятий, в т.ч. предприятий общественного питания и складских комплексов, который состоит из следующих этапов:
      .big-logo
        div.info
          p Консалтинг бюро
          p
            span Анна Шегай
            sup TM
            span &nbspМосква
          p Работаем по России
          a(href="tel:+7 916 589 3544") +7 916 589 3544
          a(href="mailto:trts021@gmail.com") trts021@gmail.com
        img(src="/images/big_logo.png")
    .content
      .col-8
        .item
          .count
            span 1
            div
              h3 Диагностический аудит существующей СМБПП
              p Аудит предприятия по соответствию требованиям СМБПП (ХАССП или ИСО 22000), ТР ТС 021 и/или отраслевого Технического Регламента, СанПиН, анализ нормативной документации предприятия.
          .count
            span 2
            div
              h3 Тренинг для руководителей и ведущих специалистов
              p Тренинг осуществляется на территории предприятия.
                | Рассматриваются лучшие практики внедрения на предприятиях отрасли,
                | выполняются практические задания.По итогам тренинга слушателям выдаются именные сертификаты о прохождении тренинга.
          .count
            span 3
            div
              h3 Разработка документации по СМБПП (ХАССП или ИСО 22000)
              p Разрабатывается вся необходимая документация индивидуально под предприятие по ГОСТу (ГОСТ Р 51705.1-2001 или ГОСТ Р ИСО 22000:2007).
              i Юридическая безопасность: все этапы, перечень документации, стоимость фиксируются в договоре.
          .count
            span 4
            div
              h3 Тренинг для внутренних аудиторов
              p Процедура проведения внутренних аудитов.Тренинг осуществляется на территории предприятия. Рассматриваются требования и выполняются практические задания по процедуре проведения внутреннего аудита.По итогам тренинга слушателям выдаются именные сертификаты о прохождении тренинга.
          .count
            span 5
            div
              h3 Аудит СМБПП (ХАССП или ИСО 22000)
              p Аудит уже внедренной СМБПП (ХАССП или ИСО 22000) осуществляется на территории предприятия.
          .count
            span &nbsp&nbsp
            div
              p <b>Стоимость</b> консалтинговых услуг определяется после анализа предприятия (выезд), а также количества процессов, количества и месторасположения площадок. <i>Срок осуществления полного консалтинга от 1 месяца.</i>
      .col-4
        .item
          h2 Что такое ХАССП
          br
          p
           i ХАССП в английской транскрипции HACCP – «Hazard Analysis and Critical Control Points», что означает «Анализ опасностей и Критические Контрольные точки».
          br
          h2 Суть системы
          p При соблюдении семи принципов ХАССП и программы обязательных предварительных мероприятий (ППМ) обеспечивается выпуск безопасного продукта для потребителя.
        img(src="/images/humans_l.png" style="margin: 10px 0 0")
    include elements/footer