.header .info h1 {
    padding: 0 10px;
    font-weight: normal;
    font-size: 24px;
}
.content {
    padding: 0 15px 0;
}
.content img {
    display: none;
}
.row {
    display: flex;
    flex-flow: column;
    margin: 0;
}
.col-3, .col-6 {
    display: inline-flex;
    padding: 0 10px;
    vertical-align: top;
    margin: 0 0 10px;
}
@media (min-width: 992px) {
    .header .info h1 {
        padding: 5% 5% 0 15%;
        font-weight: normal;
        font-size: 36px;
    }
    .content img {
        display: block;
    }
    .row {
        display: flex;
        flex-flow: row;
        margin:  10px 0;
    }
    .col-3, .col-6 {
        display: inline-flex;
        padding: 0 10px;
        margin: 0;
        vertical-align: top;
    }
    .col-3 {
        width: 33.33333%
    }
    .col-6 {
        width: 66.66666%
    }
}


