* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Segoe';
    src: url("9404.ttf");
}
body {
    font-family: 'Segoe', sans-serif;
    font-size: 14px;
}

.wrap {
    margin: 0 auto;
    width: 100%;
}
.header {
    display: block;
    width: 100%;
}
@media (min-width: 768px) {
    .wrap {
        padding: 0;
        width: 720px;
    }
}
@media (min-width: 992px) {
    .wrap {
        width: 960px;
    }
    .header {
        display: inline-block;
        width: 66.6%;
    }
}
@media (min-width: 1200px) {
    .wrap {
        width: 1140px;
    }
}

.big-logo {
    display: none;
}
@media (min-width: 992px) {
    .big-logo {
        display: inline-block;
        vertical-align: top;
        width: 33.3%;
        background: #0865aa;
        color: white;
        font-weight: bold;
    }
}
.big-logo .info {
    padding: 10% 0 8% 15%;
    font-size: 16px;
}
.big-logo .info p, .big-logo .info a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 2% 0;
}

.big-logo a:focus, .big-logo a:hover {
    text-decoration: underline;
}
.big-logo img {
    display: block;
    width: 83.3%;
    position: relative;
    top: 1px;
    left: -1px;
}

.item {
    padding: 20px;
    font-size: 16px;
    box-shadow: #4dc1c1 2px 2px 10px -2px, #7a7a7a -1px -1px 8px -2px;
}