* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrap {
    max-width: 63%;
    margin: 0 auto;
}

.header {
    display: inline-block;
    width: 66.6%;
}
.big-logo {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    background: #0865aa;
    color: white;
    font-weight: bold;
}
.big-logo .info {
    padding: 13% 0 8% 15%;
    font-size: 1vw;
}
.big-logo .info p {
    margin: 2% 0;
}
.big-logo .info a {
    display: block;
    color: white;
    text-decoration: none;
}
.big-logo a:focus, .big-logo a:hover {
    text-decoration: underline;
}
.big-logo img {
    display: block;
    width: 83.3%;
    position: relative;
    top: 1px;
    left: -1px;
}

.content {
    padding: 0 3% 0;
}
.row {
    display: flex;
    flex-flow: row;
    margin:  1% -0.8% 0;
}
.col-3, .col-6 {
    display: inline-flex;
    padding: 0 0.8%;
    vertical-align: top;
}
.col-3 {
    width: 33.33333%
}
.col-6 {
    width: 66.66666%
}
.item {
    padding: 2%;
    box-shadow: #4dc1c1 2px 2px 10px -2px, #7a7a7a -1px -1px 8px -2px;
}